

<div class="container-fluid text-center footer">
  <div class="row row-cols-4 ">
    <div class="card">
      <a href="https://twitter.com/Samu3l_AG"><i class="fab fa-twitter"></i></a>
    </div>
    <div class="card">
      <a href="https://www.instagram.com/?hl=es"><i class="fab fa-instagram"></i></a>
    </div>
    <div class="card">
      <p>Samuel Angeles Gutiérrez  <i class="far fa-copyright"></i></p>
    </div>
    <div class="card">
      <label><button type="button" class="btn btn-secondary">Subscribe</button></label>
    </div>
  </div>
</div>

