

<app-navbar></app-navbar>

<div class="card text-left container-fluid" style="width: auto;">
  <img src="{{_data.listArticlesCategory[indice].urlToImage}}">
  <div class="card-body">
    <h5 class="card-title">{{_data.listArticlesCategory[indice].title}}</h5>
    <p class="card-text">{{_data.listArticlesCategory[indice].description}}</p>
   <a href="{{_data.listArticlesCategory[indice].url}}"><button type="button" class="btn btn-success">Read more</button></a>
  </div>
</div>

<app-footer></app-footer>
